{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title_page %} Редактировать профиль {% endblock %}

{% block title %}
    <h2 align="left">Редактировать профиль</h2>
{% endblock %}

{%block content%}
<body>
        <form class="my-2 my-lg-0" action="" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            <br>
            <button type="submit" class="btn btn-outline-success">Сохранить изменения</button>
        </form>
</body>
{% endblock %}