<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'post_list' %}">
        <h6>Блог у Макса</h6>
        <img  height="115" src="/media/maks.png" alt="упс.. лого не загрузилось..">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <button type="button" class="btn btn-outline-primary badge badge-pill my-0 my-lg-0 ml-2 btn-sm" style="width: 8rem;">
            <a class="nav-link" href="{% url 'post_list' %}">Посты<span class="sr-only">(current)</span></a>
        </button>
      </li>
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-primary badge badge-pill my-0 my-lg-0 ml-2 btn-sm" style="width: 8rem; ">
            <a class="nav-link" href="{% url 'post_create' %}">Создать пост</a>
        </button>
      </li>
        <li>
            <form class="form-inline ml-5 my-2 my-lg-0" action="{% url 'global_search' %}" >
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск" name="q">
                <button class="btn btn-outline-success my-2 badge badge-pill my-sm-2" type="submit" style="width: 8rem;">
                    Найти
                </button>
            </form>

        </li>
    </ul>

      <ul class="navbar-nav mr-3">
          {% if user.is_authenticated %}
                <li class="nav-item">
                    {% if user.profile.photo %}
                        <li class="nav-item">
                            <img height="100" src="{{ request.user.profile.photo.url }}" alt="logo" class="navbar-img rounded-circle">
                        </li>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-primary badge badge-pill my-0 my-lg-0 ml-2 btn-sm">
                        <a class="nav-link" href="{% url 'edit_profile' %}">Редактировать профиль</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-primary badge badge-pill my-0 my-lg-0 ml-2 btn-sm">
                        <a class="nav-link" href="{% url 'logout' %}">Выйти ({{request.user|capfirst}})</a>
                    </button>
                </li>

          {% else %}
                <li class="nav-item">
                   <button type="button" class="btn btn-outline-primary badge badge-pill my-0 my-lg-0 ml-2 btn-sm">
                       <a class="nav-link" href="{% url 'login' %}">Авторизация</a>
                   </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-primary badge badge-pill my-0 my-lg-0 ml-2 btn-sm">
                        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                    </button>
                </li>
          {% endif %}
      </ul>
  </div>
</nav>